/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #161616;
$primary: #01015C;
$secondary: #01015ca3;
$ternary: #f3f3f3;
$border: #eaeaea;
$gray: #f2f3f7;
$accent: #ee0000;
